<template>
    <div>
      <div v-if="article">
        <h1 class="nomargin">{{article.title}}</h1>
        <small>By {{article.user.name}}</small>
        <br/><small>{{article.days_old_description}}</small>
        <div class="gap"></div>
        <div v-html="article.content"></div>
        <hr/>
        <h3>Comments</h3>
        <p v-if="article.comments.count === 0">
          This article has no comments at the moment.</p>
        <div v-for="comment in article.comments">
          <p>{{comment.content}}</p>
          <small>By {{comment.user.name}}</small>
          <hr/>
        </div>
      </div>
    </div>
</template>

<script>
  import axios from 'axios';
  export default {
      data() {
        return {
          loading: false,
          article: null,
        };
      },
      created() {
        this.fetchData();
      },
      methods: {
        fetchData() {
          this.article = null;
          this.loading = true;
          axios
            .get(APP_URL + '/api/article/' + this.$route.params.id)
            .then(response => {
              this.article = response.data;
              this.loading = false;
            });
        }
      }
  }
</script>
