<template>
    <div>
      <div v-if="articles">
        <div v-for="article in articles">
        <h2 class="nomargin"><router-link :to="{path: '/articles/' + article.id}">{{article.title}}</router-link></h2>
        <small>By {{article.user.name}} - {{article.comments_count}} comment{{article.comments_count === 1 ? '' : 's'}}</small>
        <br/><small>{{article.days_old_description}}</small>
        <div class="gap"></div>
        <div v-html="article.content_preview_with_tags"></div>
        <router-link :to="{path: '/articles/' + article.id}">Read full article</router-link>
        <hr/>
        <br/>
        </div>
      </div>
    </div>
</template>

<script>
  import axios from 'axios';
  export default {
      data() {
        return {
          loading: false,
          articles: null,
        };
      },
      created() {
        this.fetchData();
      },
      methods: {
        fetchData() {
          this.articles = null;
          this.loading = true;
          axios
            .get(APP_URL + '/newsfeed')
            .then(response => {
              this.articles = response.data;
              this.loading = false;
            });
        }
      }
  }
</script>
