<template>
  <li>
    <div>
      <span v-if="isFolder" @click="toggle">
        {{ open ? '-' : '+'}}
      </span>
      <input type="checkbox" name="pettype[]" :value="model.id"
        v-bind:checked="model.checked || false"
        v-on:change="checkboxChanged"/>
      {{ model.name }}
    </div>
    <ul v-show="open" v-if="isFolder">
      <pet-type-selector-inner
        v-for="(model, index) in model.children"
        :key="index"
        :model="model"
        v-on:check-changed="onCheckChanged">
      </pet-type-selector-inner>
    </ul>
  </li>
</template>

<script>
  export default {
    template: '#item-template',
    props: {
      model: Object
    },
    data: function() {
      return {
        open: this.model.open
      }
    },
    computed: {
      isFolder: function() {
        return this.model.children && this.model.children.length
      }
    },
    methods: {
      toggle: function() {
        if (this.isFolder) {
          this.open = !this.open;
        }
      },
      checkboxChanged: function($event){
        this.checked = $event.target.checked;
        this.$emit('check-changed', this.model.id, this.checked);
      },
      onCheckChanged: function(id, checked) {
        //Emit events up so that the top guy handles it.
        this.$emit('check-changed', id, checked);
      }
    }
  }
</script>
