<template>
    <ul class="no-bullet">
      <pet-type-selector-inner
        v-for="petType in petTypes"
        :key="petType.id"
        :model="petType"
        v-on:check-changed="onCheckChanged">
      </pet-type-selector-inner>
    </ul>
</template>

<script>
  export default {
      props: ['initialPetTypes', 'onlySelectOne'],
      data: function() {
        return {
          petTypes: this.initialPetTypes
        }
      },
      methods: {
        onCheckChanged: function(id, checked) {
          var updateChecked = function(modelToUpdate, checkedState) {
            Vue.set(modelToUpdate, 'checked', checkedState);
            for (var i = 0; i < modelToUpdate.children.length; i++) {
              updateChecked(modelToUpdate.children[i], checkedState);
            }
          };
          var checkIfShouldUpdate = function(modelToCheck, idSearching, checkedState) {
            if (modelToCheck.id === idSearching) {
              updateChecked(modelToCheck, checkedState);
            }
            else {
              for (var i = 0; i < modelToCheck.children.length; i++) {
                checkIfShouldUpdate(modelToCheck.children[i], idSearching, checkedState);
              }
            }
          };
          var checkOrUncheckOnePetType = function(modelInspecting, idSearching, checkedState) {
            if (modelInspecting.id === idSearching) {
              Vue.set(modelInspecting, 'checked', checkedState);
            }
            else if (modelInspecting.checked) {
              Vue.set(modelInspecting, 'checked', false);
            }
            for (var i = 0; i < modelInspecting.children.length; i++) {
              checkOrUncheckOnePetType(modelInspecting.children[i], idSearching, checkedState);
            }
          };
          if (this.onlySelectOne) {
            for (var i = 0; i < this.petTypes.length; i++) {
              checkOrUncheckOnePetType(this.petTypes[i], id, checked);
            }
          } else {
            for (var i = 0; i < this.petTypes.length; i++) {
              checkIfShouldUpdate(this.petTypes[i], id, checked);
            }
          }
        },
      }
  }
</script>
