
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//trumbowyg
@import '~trumbowyg/dist/ui/trumbowyg.min.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

ul.no-bullet, .no-bullet ul {
  list-style-type: none;
}

form.inline-form {
  display:inline;
}

span.description {
  display:inline-block;
  width:12em;
}

h2 a {
  color: inherit;
}

div.gap {
  margin-bottom: 10px;
}

.nomargin{
  margin:0;
}
